.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active { box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1); }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
  padding-inline: 20px;
}

.nav-open-btn {
  font-size: 30px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 8px;
}

.nav-open-btn:is(:hover, :focus) { background: var(--salmon); }

.nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--rich-black-fogra-29);
  font-family: var(--ff-roboto);
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--rich-black-fogra-29);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 55px; }

.nav-close-btn:is(:hover, :focus) { color: var(--bittersweet); }

.navbar .logo {
  background: var(--maximum-blue-green_10);
  padding-block: 50px 40px;
}

.navbar .logo img { margin-inline: auto; }

.navbar-list,
.nav-action-list { margin: 30px; }

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
  color: var(--rich-black-fogra-29);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--bittersweet); }

.navbar-item:not(:last-child) { border-bottom: 1px solid var(--gainsboro); }

.nav-action-list > li:first-child { display: none; }

.nav-action-btn {
  color: var(--rich-black-fogra-29);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) { color: var(--bittersweet); }

.nav-action-btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
  font-weight: initial;
  color: var(--bittersweet);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-8);
  background: var(--bittersweet);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}